<h1>My Outdoor Journal</h1>

<%= link_to "Journal Entries", trips_path %>
<p />
<%= link_to "Trip Partners", partners_path %>
<p />
<%= link_to "Trip Types", trip_types_path %>
<p />
<%= link_to "Trip Subtypes", trip_sub_types_path %>
<p />