<p id="notice"><%= notice %></p>

<p>
  <b>Subtype:</b>
  <%= @trip_sub_type.subtype %>
</p>


<%= link_to 'Edit', edit_trip_sub_type_path(@trip_sub_type) %> |
<%= link_to 'Back', trip_sub_types_path %>
